.background {
    background: url("../../resources/img/background.gif") no-repeat fixed center;
    top: 0;
    background-color: #a4b6d3;
    width: 100%;
    font-size: 16px;
    background-size: cover;
    padding: 0;
    margin: 0;
    overflow: scroll;
    height: 100vh;
    z-index: -2;
}
.grass-bg{
    background: url('../../resources/img/ramEat.gif') no-repeat fixed center;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    position: absolute;
    display: flex;
}
.myContainer {
    background: url("../../resources/img/background.gif") no-repeat fixed center;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    z-index: -2;
    font-size: 16px;
    background-size: cover;
}

@media (min-width:320px)  {
    /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width:481px)  {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width:641px) {
}

@media (max-width: 2048px) {
    /*background: "red";*/
}

.basket {
    transition: opacity 0.5s;
    opacity: 1;
}
.basket.hide {
    opacity: 0;
    pointer-events:none;
}

.balance-btn {
    background-image: url("../../resources/img/BalanceSprite.png");
    left: 1vw;
    /* top: 100px; */
    height: 100px;
    width: 300px;
    /* margin-top: 1em;
    z-index: -1;
    height: 10em;
    width: 2em; */

    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}


.balance-btn p {
    margin-top: 52px;
    text-align: center;
    font-family: slkscrb, serif;
}

.price-btn {
    background-image: url("../../resources/img/Price.png");
    right: 1vw;
    /* top: 100px; */
    height: 100px;
    width: 300px;
    /* margin-top: 1em;
    z-index: -1;
    height: 10em;
    width: 2em; */

    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.price-btn p {
    margin-top: 52px;
    text-align: center;
    font-family: slkscrb, serif;
}

.block-text {
    left: 1vw;
    width: 200px;
}

.bodyCenter {
    min-height: 30vw;
}

.footerRow {
    width: 100vw;
    bottom: 1vh;
    /* border-width: 5px;
    border-style: dotted dashed solid double; */
}

.peg-btn {
    background-image: url("../../resources/img/Peg.png");
    height: 100px;
    right: 1vw;
    width: 300px;
    padding-bottom: 10px;
    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.peg-btn p {
    margin-top: 52px;
    text-align: center;
    font-family: slkscrb, serif;
}

.pasture-btn {
    background-image: url("../../resources/img/pasture.png");
    /* top: 100px; */
    margin-left: -10px;
    height: 90px;
    width: 300px;
    /* margin-top: 1em;
    z-index: -1;
    height: 10em;
    width: 2em; */

    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.book-btn {
    background-image: url("../../resources/img/book.gif");
    right: 5px;
    height: 100px;
    width: 100px;
    /* margin-top: 1em;
    z-index: -1;
    height: 10em;
    width: 2em; */

    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.uniswap-btn {
    background-image: url("../../resources/img/uniswap.png");
    right: 5px;
    height: 100px;
    width: 100px;
    /* margin-top: 1em;
    z-index: -1;
    height: 10em;
    width: 2em; */

    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.audio-btn {
    background-image: url("../../resources/img/audio.png");
    right: 5px;
    height: 60px;
    width: 60px;
    margin-right: 10px;
    padding: 40px;
    /* margin-top: 1em;
    z-index: -1;
    height: 10em;
    width: 2em; */

    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.mute-btn {
    background-image: url("../../resources/img/mute.png");
    right: 5px;
    height: 100px;
    width: 100px;
    margin: 10px;
    /* margin-top: 1em;
    z-index: -1;
    height: 10em;
    width: 2em; */

    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.glass {
    background-image: url("../../resources/img/grass.png");
}

.buy-btn {
    background-image: url("../../resources/img/BuyFleep.png");
    right: 1vw;
    /* top: 100px; */
    height: 60px;
    width: 200px;
    /* margin-top: 1em;
    z-index: -1;
    height: 10em;
    width: 2em; */

    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.peg-text {
    height: 100px;
    width: 300px;
    font-family: slkscrb, serif;
}

.dev-text {
    height: 100px;
    width: 300px;
    font-family: slkscrb, serif;
}

.tnx {
    font-family: "Times New Roman", serif;
}

.trade_table {
    font-family: "Times New Roman", serif;

}

.paddingRight {
    padding-right: 1vw;
}

