.background {
    background: url("../../resources/img/background.gif") no-repeat center center fixed;
    position: fixed;
    top: 0;
    background-color: #a4b6d3;
    width: 100%;
    font-size: 16px;
    background-size: cover;
    padding: 0;
    margin: 0;
    overflow: scroll;
    height: 100vh;
}

@media (min-width:320px)  {
    /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width:481px)  {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width:641px) {
}
.headingRow {
    width: 100%;
    /* height: 300px;
    padding-top: 2em; */
    margin-top: 1em;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    padding-top: 1vh;
    display: flex;
    justify-content: space-between;
}


.basket {
    transition: opacity 0.5s;
    opacity: 1;
}
.basket.hide {
    opacity: 0;
    pointer-events:none;
}

.balance-btn {
    background-image: url("../../resources/img/BalanceSprite.png");
    z-index: -1;
    left: 1vw;
    /* top: 100px; */
    height: 100px;
    width: 300px;
    /* margin-top: 1em;
    z-index: -1;
    height: 10em;
    width: 2em; */

    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}


.balance-btn p {
    margin-top: 52px;
    text-align: center;
}

.price-btn {
    background-image: url("../../resources/img/Price.png");
    z-index: -1;
    right: 1vw;
    /* top: 100px; */
    height: 100px;
    width: 300px;
    /* margin-top: 1em;
    z-index: -1;
    height: 10em;
    width: 2em; */

    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.price-btn p {
    margin-top: 52px;
    text-align: center;
}

.block-text {

}

.bodyContainer {
    padding-top: 0vh;
    margin-top: 16vh;
    height: 60vh;
    padding-left: 3vw;
    /* border-width: 5px;
    border-style: dotted dashed solid double; */
}

.footerRow {
    width: 100vw;
    bottom: 1vh;
    /* border-width: 5px;
    border-style: dotted dashed solid double; */
}

.peg-btn {
    background-image: url("../../resources/img/Peg.png");
    z-index: -1;
    height: 100px;
    width: 300px;
    /* margin-top: 1em;
    z-index: -1;
    height: 10em;
    width: 2em; */

    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.peg-text {
    z-index: -1;
    height: 100px;
    width: 300px;
}

.dev-text {
    z-index: -1;
    height: 100px;
    width: 300px;
}

