.background {
    background-image: url("../../resources/img/background1.png");
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headingRow {
    /* height: 300px;
    padding-top: 2em; */
    /* margin-top: 1em; */
    position: relative;
    padding-top: 1vh;
}



.balance-btn {
    background-image: url("../../resources/img/BalanceSprite.png");
    position: absolute;
    z-index: -1;
    left: 1vw;
    /* top: 100px; */
    height: 100px;
    width: 300px;
    /* margin-top: 1em;
    z-index: -1;
    height: 10em;
    width: 2em; */

    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}


.balance-text {
    position: absolute;
    z-index: -1;
    left: 3vw;
    top: 50px;
    height: 100px;
    width: 300px;
    
}

.price-btn {
    background-image: url("../../resources/img/Price.png");
    position: absolute;
    z-index: -1;
    right: 1vw;
    /* top: 100px; */
    height: 100px;
    width: 300px;
    /* margin-top: 1em;
    z-index: -1;
    height: 10em;
    width: 2em; */

    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.price-text {
    position: absolute;
    z-index: -1;
    right: -1vw;
    top: 50px;
    height: 100px;
    width: 300px;
}

.block-text {
    position: absolute;
    left: 3vw;
    bottom: 0;

}

.bodyContainer {
    padding-top: 0vh;
    margin-top: 16vh;
    height: 60vh;
    padding-left: 3vw;
    /* border-width: 5px;
    border-style: dotted dashed solid double; */
}

.footerRow {
    position: absolute;
    width: 100vw;
    bottom: 1vh;
    /* border-width: 5px;
    border-style: dotted dashed solid double; */
}

.peg-btn {
    background-image: url("../../resources/img/Peg.png");
    position: absolute;
    z-index: -1;
    right: -1vw;
    bottom: 0px;
    height: 100px;
    width: 300px;
    /* margin-top: 1em;
    z-index: -1;
    height: 10em;
    width: 2em; */

    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.peg-text {
    position: absolute;
    z-index: -1;
    right: -3vw;
    bottom: -40px;
    height: 100px;
    width: 300px;
}

.dev-text {
    position: absolute;
    z-index: -1;
    right: -3vw;
    bottom: -60px;
    height: 100px;
    width: 300px;
}

