.taxOnSells {
    background-image: url("../../resources/img/taxOnSell.png");
    height: 100px;
    right: 1vw;
    width: 200px;
    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.taxOnSells p {
    margin-top: 35px;
    text-align: center;
    font-family: slkscrb, serif;
    color: white;
}
